.vs
RubiksCubeSolver.sln
RubiksCubeSolver/RubiksCubeSolver.vcxproj
RubiksCubeSolver/RubiksCubeSolver.vcxproj.filters
RubiksCubeSolver/RubiksCubeSolver.vcxproj.user
RubiksCubeSolver/table-one.prun
RubiksCubeSolver/table-two.prun
RubiksCubeSolver/table-three.prun
bin-int
bin